.calendarHead {
  border-collapse: collapse;
  width: 100%;
}

.calendarHead td,
.calendarHead th {
  padding: 8px;
  /* border: 1px solid var(--color-2); */
  text-align: center;
  vertical-align: top;
  border-radius: var(--radius-1);
}

.date-picker.selected {
  background-color: var(--color-2);
  font-weight: bold;
}

.date-picker:nth-child(1),
.date-picker:nth-child(7) {
  color: red;
}

.date-picker:hover {
  background-color: var(--color-3);
  color: white;
  cursor: pointer;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
  font-weight: 600;
}

.calendarButtons {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

.calendarButtons button {
  cursor: pointer;
  background: var(--color-2);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

#previous {
  float: left;
  width: 2rem;
  height: 2rem;
}

#next {
  float: right;
  width: 2rem;
  height: 2rem;
}

.footer-container-calendar {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-container-calendar select {
  border-radius: var(--radius-1);
  border: none;
  padding: 4px 16px 4px 16px;
}

.footer-container-calendar option {
  border: none;
  border-radius: var(--radius-1);
}

.event-marker {
  position: relative;
}

.event-marker::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.event-tooltip {
  position: absolute;
  background-color: rgba(234, 232, 232, 0.763);
  color: black;
  padding: 10px;
  border-radius: 4px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.event-marker:hover .event-tooltip {
  display: block;
}

.calendarBox form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.eventInput {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: var(--radius-1);
  padding: 0 20px 0 20px;
}

#month,
#year {
  background-color: var(--color-white);
}
.eventInput[type="date"] {
  box-sizing: border-box;
  color: gray;
}

#eventsSection {
  margin-top: 16px;
  border-top: 1px dashed var(--color-2);
}

#eventsSection h2 {
  margin: 16px 0;
}

ul {
  display: flex;
  flex-direction: column;
}

.eventListItem {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-2);
}
.deleteEventButton {
  width: fit-content;
  background-color: transparent;
}

.deleteEventButton img {
  width: 14px;
  height: 14px;
}

.calendarTitle {
  text-align: center;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
