header {
  background-color: var(--color-1);
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 1px 8px #a2a2a2;
}

nav {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  width: 8rem;
}

#logout img {
  width: 1.5rem;
  height: 1.5rem;
}

.magnifying_glass {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#hamburguer-menu {
  cursor: pointer;
}

#profile {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.search {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header__button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
}
