body {
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  margin-top: 32px;
  min-height: 72vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
}

section {
  background-color: white;
  border-radius: var(--radius-1);
  padding: 16px;
  height: fit-content;
  min-width: 320px;
  width: 100%;
  max-width: 600px;
  margin: 32px 0;
}

section div p {
  font-size: 14px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-1);
}

.formContainer {
  margin-top: 16px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputForm label {
  font-size: 14px;
  font-weight: 500;
  padding-left: 4px;
}

.inputForm input {
  border: 1px solid var(--color-3);
  border-radius: var(--radius-1);
  height: 48px;
  padding-left: 16px;
  font-size: 18px;
}

.inputCheck {
  display: flex;
  font-size: 14px;
  padding-left: 4px;
  align-items: center;
  justify-content: start;
}

.inputCheck {
  border-radius: 100%;
}

button {
  font-size: 20px;
}

small {
  font-size: 10px;
}

.loginFooter {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding-left: 4px;
}

a {
  text-decoration: none;
  color: var(--color-2);
}

.divLoginDescription span {
  color: #0087cb;
  font-weight: 600;
  font-size: 22px;
}

@media (min-width: 840px) {
  nav {
    align-items: start;
  }

  section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    min-width: 840px;
  }

  .divLoginDescription > p {
    border-bottom: none;
    font-size: 20px;
  }

  .divLoginDescription {
    border-left: 1px solid var(--color-1);
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formContainer,
  .divLoginDescription {
    min-width: 50%;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
  }

  form {
    width: 80%;
    display: flex;
  }

  .inputForm {
    width: 100%;
  }
}
