.hidden {
  display: none;
}

.modalContainer {
  background-color: rgba(33, 37, 41, 0.647);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 11;
  transition: 250ms ease-in-out;
}

.modalBody {
  width: 90%;
  height: min-content;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: var(--radius-1);
  margin: 5rem auto;
  padding: 16px;
  border: 1px solid var(--color-2);
}

.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#closeModal {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.modalMain {
  width: 100%;
}

.modalMain > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modalMain textarea {
  min-height: 250px;
  border: none;
  border-radius: var(--radius-1);
  margin: 0;
  padding: 16px;
  color: var(--color-2);
  font-family: "Nunito";
  resize: none;
}
