body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

input {
  font-family: "Nunito", sans-serif;
}

main {
  max-width: 1400px;
  padding: 0 16px;
}

aside {
  width: 320px;
}

#appItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.applicationBox {
  background-color: var(--color-1);
  border-radius: var(--radius-2);
  padding: 16px;
  width: inherit;
  margin: 16px 0 0px 0;
}

#userImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.applicationBox .userResume {
  display: flex;
  align-items: center;
  gap: 16px;
}

.applicationBox .userInfos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.userButtonsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__buttons > button {
  background-color: var(--color-2);
}

.chartBox {
  height: 20rem;
  display: flex;
}

canvas {
  height: 100px;
  width: 100px;
}

footer {
  background-color: var(--color-1);
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin-top: 32px;
}

footer img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

footer .logos {
  display: flex;
  gap: 10px;
}

footer small {
  font-size: 12px;
}
