main {
  max-width: 1400px;
  padding: 0 16px;
  margin-top: 120px;
}

#appItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.applicationBox {
  background-color: var(--color-1);
  border-radius: var(--radius-1);
  padding: 16px;
  width: inherit;
  margin: 16px 0 0px 0;
  border: 1px solid var(--color-2);
}

#userImg {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.applicationBox .userResume {
  display: flex;
  align-items: center;
  gap: 16px;
}

.applicationBox .userInfos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.userButtonsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chartBox {
  height: 365px;
}

.chartContainer {
  height: 80%;
}

#chartAndStudents {
  width: 100%;
}

.studentsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#studentsList {
  background-color: var(--color-white);
  padding: 16px 16px;
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  max-height: 400px;
  font-weight: 600;
}

#studentsList > li {
  cursor: pointer;
}
